In [2]:
# importing pandas as pd
import pandas as pd

In [3]:
#importing data using .read_csv() function
df = pd.read_csv('DataMLcategorical2.csv')

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(df['Purchased'])

In [6]:
# printing label
label

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [7]:
# removing the column 'Purchased' from df
# as it is of no use now.
df.drop("Purchased", axis=1, inplace=True)
# Appending the array to our dataFrame
# with column name 'Purchased'
df["Purchased"] = label
# printing Dataframe
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1